@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 83px;
  background: #02182b;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 200px;
}

.sidebar .logo-content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo-content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo-content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo-content .logo .logo-name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn-menu {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 8px;
  font-size: 25px;
  height: 500px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn-menu {
  left: 85%;
}

.sidebar ul {
  margin-top: 20px;
  padding-left: 5px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  margin: 0;
  line-height: 50px;
  border-radius: 100px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
  margin-top: 5px;
}
.sidebar ul li a:hover {
  color: #11101d;
  background: #ceecf3;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links-name {
  opacity: 1;
  pointer-events: auto;
}

.home-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  padding: 20px;
  background-color: #ceecf3;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 550;
  color: #1d1b31;
  margin: 12px;
  text-align: center;
  padding-right: 12%;
}

.sidebar.active ~ .home-content {
  width: 100%;
  left: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
  background-color: #ebffff;
  padding: 20px;
  padding-left: 50px;
  font-size: 30px;
  border-radius: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 10px;
  width: 300px;
}

#btnInvertir {
  height: 50px;
}

.home-content #invertir {
  font-size: 50px;
  color: #02182b;
  position: relative;
  top: 100px;

  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  padding-left: 8%;
  padding-right: 20%;
}

.container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

#primerSelect {
  margin: auto;
}

#segundoSelect {
  margin: auto;
}

#texto {
  margin-top: 50px;
  text-align: center;
  padding-left: 8%;
  padding-right: 20%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  #texto {
    text-align: center;
    padding: 0;
  }
}
